DATABASE_URL=postgresql+psycopg://postgres:skk%4008112008@127.0.0.1:5432/sih26101_db

JWT_SECRET=YOUR_JWT_SECRET
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

SPECIAL_REGISTRATION_KEY=YOUR_SPECIAL_REGISTRATION_SECRET